
.meny {
				
				float: left;
				padding: 10px 20px; 
				font-size:17px;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 300px;
                    
			}
ul a:link {
    text-decoration: none;
    color: #ff3a00;
    }
ul li a:hover {
				color: red;
			}
.meny {
				height:40px;
				background:white;
				max-width: 700px;
				margin: 0 auto;
				border-radius: 5px;
				-moz-border-radius:5px;
			    -webkit-border-radius:5px;
			}
			.meny ul {
				margin: 0;
				padding 0;
				list-style: none;
			}
			.meny ul li {
				float: left;
			}
			.meny ul li a:link {
				text-decoration: none;
				float: left;
				display: inline-block;
				padding: 10px 20px; 
				color: #ff3a00;
				font-size:17px;
			}
			.meny ul li a:hover {
				color: red;
			}
body {
    background-image: url("../img/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 25px;
}

#overskrift {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 5px;
    font-size: 100px;
    color: #ff3a00;
}

.intro{
   position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
    ;
     }

.flybilde{
    width: 400px;
    bottom: 500px;
}

.bestilltekst{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
}

.omtekst{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
}

.kontakttekst{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
}